
<div class="container-fluid">
    <app-header (league)="leagueSelect($event)" (searchText)="searchName($event)"></app-header>
  <!-- <div class="row mt-5">
    <div class="col-sm-12"><span style="color: green">{{adminSuccess}}</span></div>
  </div> -->
  <div *ngIf="alertSuccess" class="alert alert-success mt-5" role="alert">
      {{adminSuccess}}
  </div>
  <div class="row mt-5">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <div class="float-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="modalPopup()">Create</button>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('manager')">Manager</th>
        <th (click)="sort('country')">Country</th>
        <th (click)="sort('league')">League</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of footballList | orderBy: key : reverse| paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{record.id}}</td>
        <td><a (click)="teamDetail(record.name)" style="color: #009ece;">{{record.name}}</a></td>
        <td>{{record.manager}}</td>
        <td>{{record.country}}</td>
        <td>{{record.league}}</td>
        <td>
         <span  tooltip="content to be shown in the tooltip"        
         tooltipPlacement="top"> <i class="fa fa-edit" (click)="edit(record)"></i></span>
          <i class="fa fa-trash" style="margin-left:10px;" (click)="delete(record.id)" aria-hidden="true"></i>
        </td>
      </tr>
      
      <tr *ngIf="footballList.length == 0">
        <td></td>
        <td></td>
        <td> No Records Found!!! </td>
      </tr>
    </tbody>
    </table>
    <div class="row mt-5" *ngIf="footballList.length > 0">
    <pagination-controls (pageChange)="p = $event">asd</pagination-controls></div>
  </div>
  <ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out"
></ngx-spinner>
</div>

<!--CREATE POPUP-->
<div class="modal" id="myModal" tabindex="-1" role="dialog" [style.display]="display">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #009ece;">
        <h5 class="modal-title" style="color: #fff">{{type}} League</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff" (click)="closePopup(league)">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="createLeagueFlag">
        <div class="row mb-3">
          <div class="col-sm-4">
            <div class="ml-5">
              <label>Name</label>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" name="name" [(ngModel)]="league.name">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <div class="ml-5">
              <label>Manager</label>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" name="manager" [(ngModel)]="league.manager">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <div class="ml-5">
              <label>Country</label>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" name="country" [(ngModel)]="league.country">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <div class="ml-5">
              <label>League</label>
            </div>
          </div>
          <div class="col-sm-6">
            <input class="form-control" name="league" [(ngModel)]="league.league">
          </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
              <div class="float-right">
                  <button type="button" class="btn btn-primary" (click)="createLeague(league)">Save changes</button>
              </div>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-secondary" (click)="closePopup(league)" data-dismiss="modal">Close</button>
            </div>
          </div>

      </div>

      <div *ngIf="deleteLeagueFlag">
          <div class="row mb-3">
          <div class="ml-5"><span>Are you sure you want to delete this league?</span></div>  
          </div>

          <div class="row">
              <div class="col-sm-6">
                <div class="float-right">
                  <button type="submit" class="btn btn-primary" (click)="deleteLeague()">Confirm</button>
                </div>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-secondary" (click)="closePopup()" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>

          <div *ngIf="successFlag">
            <div class="row mb-3">
              <div class="col-sm-3"></div>
            <div class="col-sm-8"><span>Succesfully {{status}}</span></div>  
            </div>
  
            <div class="row">
              <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <div>
                    <button type="submit" class="btn btn-primary" (click)="closePopup()">Ok</button>
                  </div>
                </div>
              </div>
            </div>



      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
  
</div>

<!--EDIT POPUP-->
<div class="modal" id="myModal" tabindex="-1" role="dialog" [style.display]="display1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #009ece;">
        <h5 class="modal-title" style="color: #fff">Edit League</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff" (click)="closeEditPopup()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="updateLeague($event)">
          <div class="row mb-3">
            <div class="col-sm-4">
              <div class="ml-5">
                <label>Name</label>
              </div>
            </div>
            <div class="col-sm-6">
              <input class="form-control" name="name1" [(ngModel)]="name1">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <div class="ml-5">
                <label>Manager</label>
              </div>
            </div>
            <div class="col-sm-6">
              <input class="form-control" name="manager1" [(ngModel)]="manager1">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <div class="ml-5">
                <label>Country</label>
              </div>
            </div>
            <div class="col-sm-6">
              <input class="form-control" name="country1" [(ngModel)]="country1">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">
              <div class="ml-5">
                <label>League</label>
              </div>
            </div>
            <div class="col-sm-6">
              <input class="form-control" name="league1" [(ngModel)]="league2">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="float-right">
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="button" class="btn btn-secondary" (click)="closeEditPopup()" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

