
<div class="container-fluid">
    <app-header (league)="leagueSelect($event)" *ngIf="leagueList.length>0"  [leagueList]="leagueList" (searchText)="searchName($event)"></app-header>
    <div *ngIf="alertSuccess" class="alert alert-info mt-5" role="alert">
      {{adminSuccess}}
  </div>
  <div class="row mt-5">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
      <div class="float-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="modalPopup()">Create</button>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('manager')">Manager</th>
        <th (click)="sort('country')">Country</th>
        <th (click)="sort('league')">League</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of footballList[0] | orderBy: key : reverse| paginate: { itemsPerPage: 5, currentPage: p }">
        <td>{{record.id}}</td>
        <td><a (click)="teamDetail(record.name)" style="color: #009ece;">{{record.name}}</a></td>
        <td>{{record.manager}}</td>
        <td>{{record.country}}</td>
        <td>{{record.league}}</td>
        <td>
         <span  tooltip="content to be shown in the tooltip"        
         tooltipPlacement="top"> <i class="fa fa-edit" (click)="edit(record)"></i></span>
          <i class="fa fa-trash" style="margin-left:10px;" (click)="delete(record.id)" aria-hidden="true"></i>
        </td>
      </tr>
      
      <tr *ngIf="footballList.length == 0">
        <td></td>
        <td></td>
        <td> No Records Found!!! </td>
      </tr>
    </tbody>
    </table>
    <div class="row mt-5" *ngIf="footballList.length > 0">
    <pagination-controls (pageChange)="p = $event">asd</pagination-controls></div>
  </div>
  <ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out"
></ngx-spinner>
</div>

<app-modal-add-league *ngIf="createLeagueFlag" (close)="closeCreatePopup($event)" (fetchList)="fetchList()"></app-modal-add-league>
<app-modal-edit-league *ngIf="editFlag" [editObj]="editObj" (close)="closeCreatePopup($event)" (fetchList)="fetchList()"></app-modal-edit-league>
<app-modal-delete-league *ngIf="deleteFlag" [id]="id" (close)="closeCreatePopup($event)" (fetchList)="fetchList()"></app-modal-delete-league>


