<app-header></app-header>
<div class="container-fluid">
  <app-team-header [managerInfoArray]="managerInfoArray"></app-team-header>
  
<div class="content-panel mt-3">
  <div class="content-header">
      <div *ngIf="managerInfoArray.length > 0; else noTeamName">
          <span class="content-header-text" *ngFor="let list of managerInfoArray">Manager Information - {{list.name}}</span>
      </div>
  </div>
  <div *ngIf="managerInfoArray.length > 0; else noData">
      <div class="row ml-3 mt-3" *ngFor="let list of managerInfoArray">
          <div class="col-sm-4">
              <label class="label-text">Manager Name</label>
              <div><span class="content-panel-label-value">{{list.name}}</span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">DOB</label>
              <div><span class="content-panel-label-value">{{list.dob}}</span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">Age</label>
              <div><span class="content-panel-label-value">{{list.age}}</span></div>
          </div>
      </div>

      <div class="row ml-3 mt-3 mb-3" *ngFor="let list of managerInfoArray">
          <div class="col-sm-4">
              <label class="label-text">Country</label>
              <div><span [ngClass]="'flag-icon flag-icon-' + list.country"></span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">Date Joined</label>
              <div><span class="content-panel-label-value">{{list.joinDate}} </span>
              </div>
          </div>
         
      </div>
  </div>
  <ng-template #noData>
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">No Data Found!!!</div>      
      </div>      
  </ng-template>
  <ng-template #noTeamName>
          <span class="content-header-text">Team Information</span>
  </ng-template>
</div>
</div>
