<app-header></app-header>
<div class="container-fluid">
  <app-team-header [managerInfoArray]="managerInfoArray"></app-team-header>
  
<div class="content-panel mt-3">
  <div class="content-header">
      <div *ngIf="managerInfoArray.length > 0; else noTeamName">
          <span class="content-header-text" *ngFor="let list of managerInfoArray">Manager Information - {{list.name}}</span>
      </div>
  </div>
  <div *ngIf="managerInfoArray.length > 0; else noData">
      <div class="row ml-3 mt-3" *ngFor="let list of managerInfoArray">
          <div class="col-sm-4">
              <label class="label-text">Manager Name</label>
              <div><span class="content-panel-label-value">{{list.name}}</span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">DOB</label>
              <div><span class="content-panel-label-value">{{list.dob}}</span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">Age</label>
              <div><span class="content-panel-label-value">{{list.age}}</span></div>
          </div>
      </div>

      <div class="row ml-3 mt-3 mb-3" *ngFor="let list of managerInfoArray">
          <div class="col-sm-4">
              <label class="label-text">Country</label>
              <div><span class="content-panel-label-value">{{list.country}}</span></div>
          </div>
          <div class="col-sm-4">
              <label class="label-text">Date Joined</label>
              <div><span class="content-panel-label-value">{{list.joinDate}} </span>
                  <!-- <span>
                  <img src="{{teamKitSrc}}" width="{{widthSrc}}" height="{{heightSrc}}" style=" margin-top: -11px;margin-left: 8px;"> -->
                  <!-- <img src="/assets/images/Yokohama.webp" *ngIf="yokohama" width="100" height="50" style=" margin-top: -11px;margin-left: 8px;"> -->
                  <!-- <img src="/assets/images/team-sponsor/flyEmirates.png" *ngIf="flyEmirates" width="50" height="50" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/ethihad.png" *ngIf="ethihad" width="70" height="50" style=" margin-top: -20px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/rakuten.png" *ngIf="rakuten" width="80" height="40" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/plus500.png" *ngIf="plus500" width="80" height="80" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/playTika.png" *ngIf="playTika" width="30" height="30" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/telekom.png" *ngIf="telekom" width="30" height="30" style=" margin-top: -5px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/evonik.png" *ngIf="evonik" width="80" height="20" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/standardCharted.gif" *ngIf="scharted" width="80" height="20" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-sponsor/aia.png" *ngIf="aia" width="80" height="20" style=" margin-top: -11px;margin-left: 8px;"> -->
              <!-- </span> -->
              
              </div>
          </div>
          <!-- <div class="col-sm-4">
              <label class="label-text">Team Kit Sponsor</label>
              <div><span class="content-panel-label-value">{{list.teamKitSponsor}} 
                  <img src="{{src}}" width="{{widthSponsor}}" height="{{heightSponsor}}" style=" margin-top: -11px;margin-left: 8px;"> -->
                  <!-- <img src="/assets/images/team-kit-sponsor/puma.png" *ngIf="puma" width="30" height="20" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-kit-sponsor/nike.png" *ngIf="nike" width="50" height="30" style=" margin-top: -11px;margin-left: 8px;">
                  <img src="/assets/images/team-kit-sponsor/newBalance.png" *ngIf="newBalance" width="50" height="50" style=" margin-top: -11px;margin-left: 8px;"> -->
              <!-- </span>
              </div>
          </div>             -->
      </div>
  </div>
  <ng-template #noData>
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">No Data Found!!!</div>      
      </div>      
  </ng-template>
  <ng-template #noTeamName>
          <span class="content-header-text">Team Information</span>
  </ng-template>
</div>
</div>
