<div class="container-fluid">
    <app-header></app-header>
    <div class="row mt-3">
        <div class="col-sm-12"><span class="page-text" (click)="navigateToPrevious()"><</span><span class="page-text">Team Info</span></div>
    </div>
    <div class="content-panel mt-3">
        <div class="content-header">
            <div *ngIf="teamInfoArr.length > 0; else noTeamName">
                <span class="content-header-text" *ngFor="let list of teamInfoArr">Team Information - {{list.teamName}}</span>
                <span class="float-right">
                    <img *ngIf="chelsea" src="assets/images/team-logo/chelsea.png" width="30" height="30">
                    <img *ngIf="manutd" src="assets/images/team-logo/manutd.png" width="30" height="30">
                    <img *ngIf="arsenal" src="assets/images/team-logo/arsenal.png" width="30" height="30">
                    <img *ngIf="mancity" src="assets/images/team-logo/mancity.png" width="30" height="30">
                    <img *ngIf="realMadrid" src="assets/images/team-logo/realmadrid.png" width="30" height="30">
                    <img *ngIf="barcelona" src="assets/images/team-logo/barcelona.jpg" width="30" height="30">
                    <img *ngIf="athleticoMadrid" src="assets/images/team-logo/athleticoMadrid.png" width="30" height="30">
                    <img *ngIf="sevilla" src="assets/images/team-logo/sevilla.png" width="30" height="30">
                    <img *ngIf="bayernMunich" src="assets/images/team-logo/bayernMunich.png" width="30" height="30">
                    <img *ngIf="bvb" src="assets/images/team-logo/bvb.png" width="30" height="30">
                </span>
            </div>
        </div>
        <div *ngIf="teamInfoArr.length > 0; else noData">
            <div class="row ml-3 mt-3" *ngFor="let list of teamInfoArr">
                <div class="col-sm-4">
                    <label class="label-text">Team Name</label>
                    <div><span class="content-panel-label-value">{{list.teamName}}</span></div>
                </div>
                <div class="col-sm-4">
                    <label class="label-text">Manager</label>
                    <div><span class="content-panel-label-value">{{list.manager}}</span></div>
                </div>
                <div class="col-sm-4">
                    <label class="label-text">Stadium</label>
                    <div><span class="content-panel-label-value">{{list.stadium}}</span></div>
                </div>
            </div>

            <div class="row ml-3 mt-3 mb-3" *ngFor="let list of teamInfoArr">
                <div class="col-sm-4">
                    <label class="label-text">Location</label>
                    <div><span class="content-panel-label-value">{{list.location}}</span></div>
                </div>
                <div class="col-sm-4">
                    <label class="label-text">Team Sponsor</label>
                    <div><span class="content-panel-label-value">{{list.teamSponsor}} </span>
                        <span><img src="/assets/images/team-sponsor/chevrolet.png" *ngIf="chevrolet" width="30" height="20" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/Yokohama.webp" *ngIf="yokohama" width="100" height="50" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/flyEmirates.png" *ngIf="flyEmirates" width="50" height="50" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/ethihad.png" *ngIf="ethihad" width="70" height="50" style=" margin-top: -20px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/rakuten.png" *ngIf="rakuten" width="80" height="40" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/plus500.png" *ngIf="plus500" width="80" height="80" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/playTika.png" *ngIf="playTika" width="30" height="30" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/telekom.png" *ngIf="telekom" width="30" height="30" style=" margin-top: -5px;margin-left: 8px;">
                        <img src="/assets/images/team-sponsor/evonik.png" *ngIf="evonik" width="80" height="20" style=" margin-top: -11px;margin-left: 8px;"></span>
                    
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="label-text">Team Kit Sponsor</label>
                    <div><span class="content-panel-label-value">{{list.teamKitSponsor}} 
                        <img src="/assets/images/team-kit-sponsor/adidas.png" *ngIf="adidas" width="30" height="20" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-kit-sponsor/puma.png" *ngIf="puma" width="30" height="20" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-kit-sponsor/nike.png" *ngIf="nike" width="50" height="30" style=" margin-top: -11px;margin-left: 8px;">
                        <img src="/assets/images/team-kit-sponsor/newBalance.png" *ngIf="newBalance" width="50" height="50" style=" margin-top: -11px;margin-left: 8px;">
                    </span>
                    </div>
                </div>            
            </div>
        </div>

        <ng-template #noData>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">No Data Found!!!</div>      
            </div>      
        </ng-template>
        <ng-template #noTeamName>
                <span class="content-header-text">Team Information</span>
        </ng-template>
    </div>

    <div class="content-panel mt-5" *ngIf="squadList.length > 0">
        <div class="content-header">
            <span class="content-header-text">Player List</span>
        </div>

        <div class="mt-3">
            <table>
                <tr>
                    <th>ID</th>
                    <th (click)="sort('name')">Player Name</th>
                    <th (click)="sort('kitNumber')">Kit Number</th>
                    <th (click)="sort('position')">Position</th>
                    <th (click)="sort('country')">Country</th>
                </tr>
                <tr *ngFor="let list of squadList | orderBy: key : reverse">
                    <td>{{list.id}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.kitNumber}}</td>
                    <td>{{list.position}}</td>
                    <td>{{list.country}}</td>
                </tr>
            </table>
        </div>
    </div>
    <ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out"
></ngx-spinner>
</div>


