<div class="content-panel mt-5">
  <div class="content-header">
      <span class="content-header-text">Player List</span>
  </div>

  <div class="mt-3">
      <table>
          <tr>
              <th>ID</th>
              <th (click)="sort('name')">Player Name</th>
              <th (click)="sort('kitNumber')">Kit Number</th>
              <th (click)="sort('position')">Position</th>
              <th (click)="sort('country')">Country</th>
          </tr>
          <tr *ngFor="let list of squadList[0] | orderBy: key : reverse">
              <td>{{list.id}}</td>
              <td>{{list.playerName}}</td>
              <td>{{list.kitNumber}}</td>
              <td>{{list.position}}</td>
              <td>{{list.country}}</td>
          </tr>
          <tr *ngIf="squadList[0].length == 0">
              <td></td>
              <td></td>
              <td>No Data Found!!!</td>
          </tr>
      </table>
  </div>
</div>