
  <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="">
      <img src="assets/images/football.png" width="40" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Link</a>
        </li>
        <li class="nav-item dropdown">
          <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Action</a>
          <a class="dropdown-item" href="">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Something else here</a>
        </div> -->
          <select class="form-control" name="footballLeague" style="height: 40px !important" name="footballLeague" [(ngModel)]="footballLeague" (change)="leagueSelect(footballLeague)">
            <option value="" disabled selected>Select Your League</option>
            <option name="footballLeague" *ngFor="let league of leagueArray" [value]="league.league">{{league.league}}</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Log Out</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" (submit)="searchName($event)"> 
        <!--  -->
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <form class="form-inline my-2 my-lg-0" (submit)="searchName($event)"> 
          <div class="dropdown ml-2 profile">
              <img src="assets/images/profile.png" alt="Cinque Terre" width="50" height="50">
              <div class="dropdown-content">
                <ul class="w3-ul w3-card-4">
                  <li class="w3-bar" *ngFor="let list of profileArray" (click)="selectedOption(list)">{{list.value}}</li>
                </ul>

              </div>
            </div>
        </form>
    </div>
  </nav>

  <app-modal-update-password *ngIf="confirmPassword && password && id" (close)="closePopup($event)" [id]="id" [password]="password"></app-modal-update-password>
  <app-modal-update-profile *ngIf="updateUserFlag" [userList]="userList" (close)="closePopup($event)"></app-modal-update-profile>
  

<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "medium"
color = "#fff"
type = "line-scale-pulse-out"
></ngx-spinner>