<div class="row mt-3">
  <div class="col-sm-4"></div>
    <div class="col-sm-4" style="position: relative !important; left: 80px !important;">
        <div class="card" style="width: 18rem;" *ngIf="arsenal">
            <img class="card-img-top" src="assets/images/managers/emery.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-justify">Unai Emery Etxegoien is a Spanish football manager and former player. He is the head coach of Premier League club Arsenal.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="manutd">
                <img class="card-img-top" src="assets/images/managers/jose.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">José Mário dos Santos Mourinho Félix, GOIH, known as José Mourinho, is a Portuguese football manager and former football player. He is the manager of Premier League club Manchester United.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="chelsea">
                <img class="card-img-top" src="assets/images/managers/conte.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Antonio Conte is an Italian professional football manager and former player. He is the head coach of Premier League club Chelsea.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="mancity">
                <img class="card-img-top" src="assets/images/managers/pep.webp" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Josep "Pep" Guardiola Sala is a Spanish professional football coach and former player who is the current manager of Manchester City.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="realMadrid">
                <img class="card-img-top" src="assets/images/managers/lopetegui.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Julen Lopetegui Argote is a Spanish former footballer who played as a goalkeeper and is the head coach of Real Madrid.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="barcelona">
            <img class="card-img-top" src="assets/images/managers/valverde.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-justify">Ernesto Valverde Tejedor is a Spanish former footballer who played as a forward, and is the current manager of Barcelona.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="sevilla">
                <img class="card-img-top" src="assets/images/managers/machin.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Pablo Machín Díez is a Spanish retired footballer who played as a right back, and is the coach of Sevilla FC.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="bayernMunich">
                <img class="card-img-top" src="assets/images/managers/kovac.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Niko Kovač is a Croatian former footballer and current manager of Bayern Munich. Kovač was the long-standing captain of the Croatia national team until his retirement from international football in January 2009.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="bvb">
                <img class="card-img-top" src="assets/images/managers/favre.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-justify">Lucien Favre is a Swiss football manager and former footballer. He is the current head coach of German club Borussia Dortmund.</p>
                </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="athleticoMadrid">
          <img class="card-img-top" src="assets/images/managers/simeone.jpg" alt="Card image cap">
          <div class="card-body">
              <p class="card-text text-justify">Diego Pablo Simeone, also known as El Cholo, is an Argentine football manager and former player, who played as a midfielder, and is currently the manager for Atletico Madrid.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="liverpool">
            <img class="card-img-top" src="assets/images/managers/klopp.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-justify">Jürgen Norbert Klopp is a German football manager and former professional player who is the current manager of Premier League club Liverpool.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" *ngIf="tottenham">
            <img class="card-img-top" src="assets/images/managers/mario.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-justify">Mauricio Roberto Pochettino Trossero is an Argentine former footballer who played as a centre back, and is the current manager of Premier League club Tottenham Hotspur.</p>
            </div>
        </div>
    </div> 
    <div class="col-sm-4"></div>
</div>