<div class="container-fluid">

    <div id="outPopUp">

      <div class="row">
        <div class="col-sm-4">
          <div style="border: 1px solid black;border-radius: 40px">
            Ashwin
          </div>
        </div>
        <div class="col-sm-4">
            <div style="border: 1px solid black;border-radius: 40px">
                Ashwin
              </div>
        </div>
        <div class="col-sm-4">
            <div style="border: 1px solid black;border-radius: 40px">
                Ashwin
              </div>
        </div>
      </div>

    </div>
 </div> 