<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7">
    <div class="mr-2">
    <span style="color: #009ece; font-size: 20px; font-weight: bold;"> Welcome to Ashwin Institute of Football </span>
    </div>  
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-4"><img src="assets/images/cr7.jpg" height="353"></div>
    
    <div class="col-sm-4 mb-4" style="border:1px solid #eff0f1; background-color: #eff0f1; padding: 30px;">
      <form (submit)="login($event)">
      <div class="mt-5">
      <div>
        <label class="login-label">User Name<span style="color: red;">*</span></label>
        <input type="text" id="userName" name="userName" [(ngModel)]="userName" class="form-control">
      </div>
      <div>
        <label class="login-label">Password<span style="color: red;">*</span></label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control">
      </div>
      <div class="row" *ngIf="error"><span style="color: red; font-weight: 700;">{{error}}</span></div>
      <div class="row mt-5 mb-3 ml-5">          
        <div class="col-sm-6">
          <div class="float-right">
            <button style="width: auto;" class="btn btn-primary">Login</button>
          </div>
          </div>
        <div class="col-sm-6">
         
        </div>       
      </div>
    </div>
    </form>
    </div>
    
    <div class="col-sm-4"><img src="assets/images/messi.jpg" height="353" style="margin-left: -15px;"></div>
  </div>

</div> -->


<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/images/img-01.jpg');">
    <div class="wrap-login100 p-t-190 p-b-30" style="padding-top: 0px !important;">
      <form class="login100-form validate-form" (submit)="login($event)">
        <div class="login100-form-avatar">
          <img src="assets/images/football_Login.png" alt="AVATAR">
        </div>

        <span class="login100-form-title p-t-20 p-b-45">
          Crazy Football
        </span>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
          <input class="input100" type="text" name="userName" placeholder="Username" [(ngModel)]="userName">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
          <input class="input100" type="password" name="password" placeholder="Password" [(ngModel)]="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock"></i>
          </span>
        </div>

        <div class="container-login100-form-btn p-t-10">
          <button class="login100-form-btn">
            Login
          </button>
        </div>

        <div class="text-center w-full p-t-25">
          <a href="#" class="txt1" (click)="openPopup()">
            Forgot Username / Password?
          </a>
        </div>

        <div class="text-center w-full mt-3">
          <input type="button" class="btn btn-info" value="Create new account" (click)="signUp()">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" [style.display]="display">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #009ece;">
        <h5 class="modal-title" style="color: #fff">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff" (click)="closePopup()">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="confirmEmail">
          <form (submit)="submit12($event)">
            <div class="row">
              <div class="col-sm-12">
                <!-- class="input100" -->
                <div class="text-center label-text">Enter Your Email ID</div>
                <div class="text-center mt-3">
                  <input type="text" class="form-control" [(ngModel)]="email" style="border: 1px solid gray !important">
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-sm-6">
                <div class="float-right">
                  <!-- <button class="btn btn-success" style="border: 1px solid gray;">
                  Submit
                </button> -->
                  <input type="submit" value="Submit" class="btn btn-success">
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <!-- <button class="btn btn-success" (click)="closePopup()">
                    Cancel
                  </button> -->
                  <input type="button" value="Cancel" class="btn" (click)="closePopup()">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="confirmPassword">
          <form (submit)="submitPassword($event)">
            <div class="row">
              <div class="col-sm-12">
                <!-- class="input100" -->
                <div class="text-center mt-2 label-text">Old Password</div>
                <div class="text-center mt-3">
                  <input type="text" class="form-control" style="border: 1px solid gray !important">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <!-- class="input100" -->
                <div class="text-center mt-2 label-text">New Password</div>
                <div class="text-center mt-3">
                  <input type="text" class="form-control" style="border: 1px solid gray !important">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <!-- class="input100" -->
                <div class="text-center mt-2 label-text">Confirm New Password</div>
                <div class="text-center mt-3">
                  <input type="text" class="form-control" style="border: 1px solid gray !important">
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-sm-6">
                <div class="float-right">
                  <!-- <button class="btn btn-success" style="border: 1px solid gray;">
                      Submit
                    </button> -->
                  <input type="submit" value="Submit" class="btn btn-success">
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <!-- <button class="btn btn-success" (click)="closePopup()">
                        Cancel
                      </button> -->
                  <input type="button" value="Cancel" class="btn" (click)="closePopup()">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="successMessageFlag">
              <div class="row">
                <div class="col-sm-12">
                  <!-- class="input100" -->
                  <div class="text-center successMessage">{{successMessage}}</div>
                  
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-6">
                  <div class="float-right">
                    <input type="button" value="Ok" class="btn btn-success" (click)="closePopup()">
                  </div>
                </div>
              </div>
        </div>

        <div *ngIf="failureMessageFlag">
            <div class="row">
              <div class="col-sm-12">
                <!-- class="input100" -->
                <div class="text-center errorMessage">{{errorMessage}}</div>
                
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-sm-6">
                <div class="float-right">
                  <input type="button" value="Ok" class="btn btn-success" (click)="closePopup()">
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>